YUI.applyConfig({
    groups: {
        AlloyEditor: {
            base: '/alloy-editor/',
            combine: false,
            comboBase: '',
            modules: <%= modules %>,
            root: '/alloy-editor/'
        }
    }
});