<link href="bootstrap.css" rel="stylesheet">
<link href="alloy-editor/assets/alloy-editor-ocean.css" rel="stylesheet">

<script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>

<script>
	var CKEDITOR_BASEPATH = 'alloy-editor/';
</script>

<script src="alloy-editor/alloy-editor-all.js"></script>