YUI.applyConfig({
    groups: {
        AlloyEditor: {
            base: Liferay.AUI.getJavaScriptRootPath() + '/editor/alloy/',
            combine: true,
            comboBase: Liferay.AUI.getComboPath(),
            modules: <%= modules %>,
            root: Liferay.AUI.getJavaScriptRootPath() + '/editor/alloy/'
        }
    }
});