$container-input-color: #000;
$container-input-bg-color: #fff;
$container-input-border-radius: 0;
$container-input-clear-color: #000;
$container-input-font-family: $base-font-family;
$container-input-font-size: $base-font-size;
$container-input-icon-remove-height: $base-height;
$container-input-placeholder-color: #999;
$container-input-placeholder-color: #999;
$container-input-dropdown-bg-color: #fff;
$container-input-dropdown-color: #000;