$container-input-font-size: $base-font-size;

$container-input-text-margin: 0;
$container-input-text-padding: 0 0 0 4px;

$container-input-base-height: $base-height;
$container-input-base-width: $base-width;
$container-input-small-width-multiplier: 1.5;
$container-input-width-multiplier: 3;
$container-input-xl-width-multiplier: 8;

$container-input-base-padding: $base-padding;