.ae-container-input {
    background-color: $container-input-bg-color;
    border-radius: $container-input-border-radius;

    .ae-icon-remove {
        color: $container-input-clear-color;
        font-size: $container-input-icon-remove-height;
        line-height: $container-input-icon-remove-height;
    }

    .ae-container-dropdown {
        background-color: $container-input-dropdown-bg-color;
        color: $container-input-dropdown-color;
    }

    input, .ae-input {
        @include placeholder {
            color: $container-input-placeholder-color;
        }

        border-radius: $container-input-border-radius;
        border-width: 0;
        color: $container-input-color;
        font-family: $container-input-font-family;
        font-size: $container-input-font-size;
        line-height: $container-input-font-size;
        outline: none;

        &:focus {
            box-shadow: none;
        }

        &::-ms-clear {
            display: none;
        }
    }
}