.sidebar-clay-site {
	background-color: $brand-light;
	min-width: 370px;

	.logo {
		height: 2.5rem;
		padding-bottom: 0.1875rem;
	}

	a, .nav .clay-icon {
		color: $brand-secondary;
	}

	.sidebar-header {
		background-color: $brand-light;
		padding: 0;

		@media (min-width: $grid-float-breakpoint) {
			padding: $base-size * 1.33 $base-size $base-size * 2.4 $base-size * 0.33;
		}

		@media (max-width: $grid-float-breakpoint - 1) {
			display: none;
		}
	}

	.sidebar-body {
		overflow: visible;
		padding-bottom: $base-size * 2;
		padding-top: $base-size;
	}

	.nav-icons {
		padding: 0 $base-size $base-size * 4 $base-size * 1.66;

		.sticker-secondary {
			background-color: #CDCED9;
		}

		.lexicon-icon {
			fill: $brand-light;
			width: 1.3em;
		}
	}

	.input-group {
		width: 100%;

		.input-group-addon {
			background-color: transparent;
			border-color: transparent;
			color: $brand-secondary;
			position: absolute;
			right: 16px;
			top: 8px;
			z-index: 9;
		}

		input.form-control {
			background-color: $bg-color;
			border-radius: 4px;
			border-width: 0;
			color: $brand-light-secondary-text;
			padding-left: 0.875rem;
			padding-right: $base-size * 1.5;

			&::-moz-placeholder {
				color: $brand-light-secondary-text;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: $brand-light-secondary-text;
			}

			&::-webkit-input-placeholder {
				color: $brand-light-secondary-text;
			}

			&:active, &:focus {
				background-color: $brand-lighten;
				color: $brand-secondary;

				&::-moz-placeholder {
					color: $brand-secondary;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: $brand-secondary;
				}

				&::-webkit-input-placeholder {
					color: $brand-secondary;
				}
			}
		}
	}

	.nav-nested {
		margin-top: 2px;

		& > li:not(.active) > ul {
			display: none;
		}
	}

	.nav-pills {
		.nav-heading {
			display: block;
		}

		& > li > {
			ul > li {
				padding-left: $base-size;
			}

			a {
				background-color: transparent;
				display: block;
				font-weight: 600;
				line-height: $base-size / 1.375;
				min-height: $base-size * 1.675;
				padding: 0.55rem 1rem;
				position: relative;

				span {
					display: inline-block;
					vertical-align: middle;
				}

				.clay-icon {
					display: inline-block;
					fill: currentColor;
					height: 16px;
					transform: translateZ(0);
					vertical-align: middle;
					width: 16px;
				}
			}

			& ul > li > ul > li > a, .nav .nav > li > a {
				padding-left: $base-size / 2;
			}

			.icon-monospaced.clay-icon {
				float: left;
				height: 40px;
				padding: 2px;
			}
		}

		& > li.active > a,
		& > li > ul > li.active > a {
			background-color: $brand-dark-lighter;
			border-radius: 6px;
			font-weight: 600;
		}

		& > li > ul > li.active > a:focus,
		& > li > a:focus,
		& > li > a:hover {
			background-color: $brand-dark-lighter;
			border-radius: 6px;
		}

		& li > ul > li > a {
			color: $brand-secondary;
			font-weight: normal;
		}

		& > li.nav-heading > a, & > li > ul > li.nav-heading > a {
			&, &:focus {
				background-color: transparent;
			}

			&:hover {
				background-color: $brand-dark-lighter;
			}
		}

		& li {
			> a > .collapse-toggle {
				display: inline-block;
				height: 40px;
				margin: 0;
				min-height: auto;
				padding: 12px;
				position: absolute;
				right: 0;
				top: 0;
				transform: rotate(-90deg);
				transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				width: 40px;
			}

			&.active > a > .collapse-toggle {
				transform: rotate(0);
			}
		}
	}
}

.sidebar-toggler {
	display: none;

	@media (max-width: $screen-sm - 1) {
		display: block;
	}
}