@import "bourbon";
@import "variables";

.alloy-editor-editable {
    @include selection {
        background: $selection_background_color !important;
        text-shadow: none;
    }
}

.alloy-editor-toolbar, [class*=alloy-editor-toolbar-] {
    background-color: $base_color;
    border-radius: 4px;
    color: $toolbar_color;
    font-family: $font_family;

    &.alloy-editor-arrow-box:after {
        color: $base_color;
    }

    .alloy-editor-button, .alloy-editor-toolbar-element {
        background-color: transparent;

        &:hover {
            color: $button_color;
        }

        &.alloy-editor-button-pressed {
            background-color: $button_color;

            &:hover {
                background-color: $button_pressed_hover_color;
                color: inherit;
            }
        }

        &.alloy-editor-button-disabled {
            opacity: 0.3;
        }
    }

    .alloy-editor-container-input {
        background-color: $input_background_color;

        [class*=alloy-editor-icon-] {
            color: $input_icon_color;
            opacity: 0.4;
        }
    }
}

.alloy-editor-dropdown, [class*=alloy-editor-dropdown-] {
    background-color: $dropdown_background_color;
    border: 1px solid $dropdown_border_color;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px $dropdown_border_color;
    color: $dropdown_color;

    .alloy-editor-list-header {
        color: $dropdown_list_header_color;
        font-size: small;
        font-style: italic;
    }
}

.alloy-editor-toolbar-add {
    border-radius: 24px;
    padding: 0;

    &:hover, &:focus {
        opacity: 0.7;
    }

    .alloy-editor-button-add {
        &:hover, &:focus {
            color: $button_add_color;
        }

        .alloy-editor-icon-add {
            font-size: 12px;
            line-height: 24px;
        }
    }
}

.alloy-editor-twitter-link {
    background-color: $twitter_link_background_color;
}
