@import "bourbon";

$base_color: #32a8e6;
$button_color: darken($base_color, 12%);

@include selection {
    background: #e6f1fa !important;
    text-shadow: none;
}

.alloy-editor-toolbar, [class*=alloy-editor-toolbar-] {
	background-color: $base_color;
	border-radius: 4px;
	color: #fff;
    font-family: 'Helvetica Neue';

    &.alloy-editor-arrow-box:after {
        color: $base_color;
    }

	.alloy-editor-button {
		background-color: transparent;

        &:hover {
			color: $button_color;
        }

        &.alloy-editor-button-pressed {
            background-color: $button_color;

            &:hover {
            	background-color: lighten($button_color, 4%);
            	color: inherit;
            }
        }

        &.alloy-editor-button-disabled {
            opacity: 0.3;
        }
	}

    .alloy-editor-container-input {
        background-color: #fff;

        [class*=alloy-editor-icon-] {
            color: #2b4259;
            opacity: 0.4;
        }
    }
}

.alloy-editor-toolbar-add {
    border-radius: 24px;
    padding: 0;

    &:hover, &:focus {
        opacity: 0.7;
    }

    .alloy-editor-button-add {
        &:hover, &:focus {
            color: #fff;
        }

        .alloy-editor-icon-add {
            font-size: 12px;
            line-height: 24px;
        }
    }
}