$toolbar-button-height: $base-height;
$toolbar-button-width: $base-width;
$toolbar-font-size: $base-font-size;
$toolbar-padding: $base-padding;

$toolbar-add-border-width: 0;
$toolbar-add-height: $base-height;
$toolbar-add-padding: 0;
$toolbar-add-width: $base-width;