::-webkit-selection {
  text-shadow: none;
  background: #e6f1fa !important;
}

.alloyeditor-add-toolbar ::-webkit-selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

::-moz-selection {
  text-shadow: none;
  background: #e6f1fa !important;
}

.alloyeditor-add-toolbar ::-moz-selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

::-o-selection {
  text-shadow: none;
  background: #e6f1fa !important;
}

.alloyeditor-add-toolbar ::-o-selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

::selection {
  text-shadow: none;
  background: #e6f1fa !important;
}

.alloyeditor-add-toolbar ::selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

.alloy-editor-toolbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #32a8e6;
}

.alloy-editor-toolbar .alloy-editor-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  color: #fff;
}
.alloy-editor-toolbar .alloy-editor-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  background-image: none;
  color: #2b4259;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*
   * background-color: #2b4259
   * opacity: 0.4
   *
   * Child elements inherit parent opacity attribute. We need to convert to rgba
   * because rgba affects only to the background-color.
   * In this way we avoid setting opacity on the whole button.
   */
  background-color: rgba(43, 66, 89, 0.4);
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button[disabled], .alloy-editor-toolbar .alloy-editor-button.yui3-button-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  color: #fff;
}

.alloy-editor-toolbar-styles .link-wrapper {
  margin-left: 5px;
}
.alloy-editor-toolbar-styles .link-wrapper input {
  border: none;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container {
  background-color: #fff;
  color: #2f232d;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container .input-clear {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  color: #2b4259;
}

.alloy-editor-toolbar-add-trigger {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.alloy-editor-toolbar-add-trigger .alloy-editor-button {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  background-color: #32a8e6;
}
.alloy-editor-toolbar-add-trigger .alloy-editor-button:hover {
  /*
   * background-color: #32a8e6
   * opacity: 0.7
   */
  background-color: rgba(50, 168, 230, 0.7);
  color: #fff;
  opacity: 1;
}

.alloy-editor-tooltip-link {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  background-color: #32a8e6;
  padding: 2px 4px;
}
.alloy-editor-tooltip-link .link-container {
  color: #fff;
}
.alloy-editor-tooltip-link .link-container .link-preview {
  color: #fff;
}

.alloy-editor-placeholder:empty:not(:focus) {
  background-color: #ffffe0;
}

.alloy-editor-twitter-link {
  background-color: #f8f8f8;
}
