$base-color: #32a8e6;
$button-add-color: #fff;
$button-color: darken($base-color, 12%);
$button-pressed-hover-color: lighten($button-color, 4%);

$dropdown-background-color: #fcfcfc;
$dropdown-color: #000;
$dropdown-list-header-color: #999;
$dropdown-border-color: rgba(0, 0, 0, .1);

$font-family: 'Helvetica Neue';

$input-background-color: #fff;
$input-icon-color: #2b4259;

$selection-background-color: #e6f1fa;

$toolbar-color: #fff;

$twitter-link-background-color: #f8f8f8;