@font-face {
	font-family: 'alloyeditor';
	src:url('fonts/alloyeditor.eot');
	src:url('fonts/alloyeditor.eot?#iefix') format('embedded-opentype'),
		url('fonts/alloyeditor.woff') format('woff'),
		url('fonts/alloyeditor.ttf') format('truetype'),
		url('fonts/alloyeditor.svg#alloyeditor') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="alloy-editor-icon-"], [class*=" alloy-editor-icon-"] {
	font-family: 'alloyeditor';
	speak: none;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.alloy-editor-icon-add {
	font-size: 14px;
	line-height: 1;
}

.alloy-editor-icon-add:before {
	content: "\E001";
}

.alloy-editor-icon-align-center:before {
	content: "\E002";
}

.alloy-editor-icon-align-justified:before {
	content: "\E003";
}

.alloy-editor-icon-align-left:before {
	content: "\E004";
}

.alloy-editor-icon-align-right:before {
	content: "\E005";
}

.alloy-editor-icon-arrow:before {
	content: "\E006";
}

.alloy-editor-icon-bold:before {
	content: "\E007";
}

.alloy-editor-icon-close:before {
	content: "\E008";
}

.alloy-editor-icon-code:before {
	content: "\E009";
}

.alloy-editor-icon-h1:before {
	content: "\E00A";
}

.alloy-editor-icon-h2:before {
	content: "\E00B";
}

.alloy-editor-icon-image:before {
	content: "\E00C";
}

.alloy-editor-icon-italic:before {
	content: "\E00D";
}

.alloy-editor-icon-link:before {
	content: "\E00E";
}

.alloy-editor-icon-ok:before {
	content: "\E00F";
}

.alloy-editor-icon-quote:before {
	content: "\E010";
}

.alloy-editor-icon-remove:before {
	content: "\E011";
}

.alloy-editor-icon-separator:before {
	content: "\E012";
}

.alloy-editor-icon-twitter:before {
	content: "\E013";
}

.alloy-editor-icon-underline:before {
	content: "\E014";
}