.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbaradditems-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
    display: none;
}

.alloy-editor-toolbar, .alloy-editor-tooltip-link {
    position: absolute;
    z-index: 1;
}

.alloy-editor-toolbar {
     .alloy-editor-button {
        padding: 10px 10px 8px 10px;
        outline: none;
        height: 36px;
    }
}

.alloy-editor-toolbar-styles {
    .link-wrapper {
        .input-container {
            display: inline-block;
            padding: 2px;

            input {
                outline: none;
                width: 165px;
            }

            input::-ms-clear {
                display: none;
            }

            .input-clear {
                display: inline-block;
                height: 11px;
                vertical-align: text-top;
                width: 12px;

                i {
                    cursor: pointer;
                }
            }
        }
    }
}

.alloy-editor-toolbar-add-items {
    .btn-group-vertical {
        margin-left: 5px;
    }
}

.alloy-editor-tooltip-link {
    .link-container {
        .icon-link-container {
            margin: 0 5px 0 5px;
            vertical-align: text-top;
        }

        .link-preview {
            display: inline-block;
            padding: 4px;
            outline: none;
        }
    }
}

.alloy-editor-placeholder:empty:not(:focus):before {
    content:attr(data-placeholder);
}