.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbaradd-buttons, .yui3-toolbarimage, .yui3-linktooltip {
    position: absolute;
    z-index: 1;
}

.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
    display: none;
}

.yui3-toolbarstyles {
    .link-wrapper {
        .input-container {
            display: inline-block;
            padding: 2px;

            input {
                outline: none;
                width: 165px;
            }

            input::-ms-clear {
                display: none;
            }

            .input-clear {
                display: inline-block;
                height: 11px;
                vertical-align: text-top;
                width: 12px;

                i {
                    cursor: pointer;
                }
            }
        }
    }
}

.yui3-linktooltip {
    .link-container {
        .icon-link-container {
            margin: 0 5px 0 5px;
            vertical-align: text-top;
        }

        .link-preview {
            display: inline-block;
            padding: 4px;
        }
    }
}

.alloy-editor-placeholder:empty:not(:focus):before{
    content:attr(data-placeholder);
}