.api {
	font-family: $font-family-system;
}

.api section {
	position: relative;
	margin: 20px 0px;
	padding: 20px;
}

.api .sidebar {
	height: 100vh;
}

.api .sidebar-list {
	height: auto;
	overflow: visible;
}

.api .sidebar-list-1 .sidebar-link {
	padding: 12px;
}

.api .card-api .entity-members .card-api {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(14, 20, 26, 0.1);
	position: relative;
}

.api .entity-filter {
	margin-top: 20px;
	padding: 20px;
}

.api .entity-container {
	&.public {
		.entity[data-access="public"] {
			display: none;
		}
	}

	&.protected {
		.entity[data-access="protected"] {
			display: none;
		}
	}

	&.private {
		.entity[data-access="private"] {
			display: none;
		}
	}
}

.api .entity .entity-name {
	margin-top: 0;
	max-width: 50%;
	word-break: break-word;
}

.api a {
    color: #292b36;
}

.api .entity-name-type, .api .entity-access {
	color: #999;
}

.api .entity-link {
	position: absolute;
	right: 20px;
	text-decoration: underline;
	top: 20px;

	@media (max-width: $screen-md) {
		position: static;
	}
}

.api .version-dropdown {
	z-index: 2000;

	.btn {
		padding: 0 20px;

		span {
			padding: 0 5px;
			vertical-align: text-top;
		}
	}

	.dropdown-menu {
		margin-left: -20px;

		a {
			border-width: 0;
			font-size: 16px;
		}
	}

	.toggler-collapsed {
		display: block;
	}
}

@media (max-width: $screen-md) {
	.api {
		display: flex;
		flex-direction: column;

		.sidebar {
			height: auto;
		}

		.sidebar-offset {
			display: flex;
			flex-direction: column;
		}
	}
}

.entity-description, .entity-params, .entity-returns {
	margin: 20px 0;
}

.entity-params .table {
	width: 100%;
}

.entity-members h2 {
	margin: 40px 0 20px;
}

.btn-version {
	background-color: #f3f3f3;
	color: #6B6C7E;
	margin-right: 21px;
	margin-top: 2px;

	~.dropdown-menu {
	    min-width: 140px;
	}
}

.docs-home-top {
  padding: 60px 0 72px;
}

 @media (min-width: 960px) {
	.docs-home-top {
		padding: 96px 0 144px;
	}
}

.docs-home-top-title {
    font-weight: 700;
    color: rgba(14, 20, 26, 0.8);
    font-size: 3.42676rem;
    line-height: calc(3rem * 1.5);
    text-align: center;
    margin: 0 0 12px;
}
