.algolia-autocomplete {
    display: block !important;
    flex: 1;
    width: 100%;

    .ds-dropdown-menu {
        max-width: auto;
        min-width: auto;
    }
}

.algolia-autocomplete .ds-dropdown-menu {
    width: 100%;
    padding: .75rem 0 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.algolia-autocomplete .ds-dropdown-menu::before {
    display: none !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
    padding: 0 !important;
    overflow: visible !important;
    background-color: transparent !important;
    border: 0 !important;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
    margin-top: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
    padding: 0 !important;
    overflow: visible !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    padding: .125rem 1rem !important;
    margin-top: 0 !important;
    font-size: .875rem !important;
    font-weight: 500 !important;
    color: $brand-dark !important;
    border-bottom: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
    float: none !important;
    padding-top: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    float: none !important;
    width: auto !important;
    padding: 0 !important;
    text-align: left !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
    float: none !important;
    width: auto !important;
    padding: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
    display: none !important;
}

.algolia-autocomplete .ds-suggestion:not(:first-child) .algolia-docsearch-suggestion--category-header {
    padding-top: .75rem !important;
    margin-top: .75rem !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.algolia-autocomplete .ds-suggestion .algolia-docsearch-suggestion--subcategory-column {
    display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
    display: block;
    padding: .25rem 1rem !important;
    margin-bottom: 0 !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
    padding: 0 1rem .5rem !important;
    margin-top: -.25rem;
    font-size: .875rem !important;
    font-weight: 400;
    line-height: 1.25 !important;
}

.algolia-autocomplete .algolia-docsearch-footer {
    float: none !important;
    width: auto !important;
    height: auto !important;
    padding: .75rem 1rem 0;
    font-size: .75rem !important;
    line-height: 1 !important;
    color: #767676 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
    display: inline !important;
    overflow: visible !important;
    color: inherit !important;
    text-indent: 0 !important;
    background: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: $brand-dark;
    background-color: rgba(179, 71, 45, 0.12);
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    box-shadow: inset 0 -2px 0 0 rgba(179, 71, 45, 0.5) !important;
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
    background-color: rgba(179, 71, 45, 0.15) !important;
}