// We use this file to define the style of the document-page

.sidebar {
    left: 0;
    transform: translateX(-100%);
    transition: 300ms ease-in-out;
	top: 0;
	width: 100%;
    z-index: 10;

    &.toggler-expanded {
		transform: translateX(0%);
	}

	.nav {
		li {
			a {
				color: $secondary;
				display: block;
				padding: 15px;

				&:hover {
					text-decoration: none;
					background-color: lighten($primary, 28);
				}
			}

			ul {
				display: none;
				margin-left: 30px;

				li {
					&.active {
						a {
							background-color: lighten($primary, 25);
						}
					}
				}
			}

			&.active {
				& > a {
					color: $primary;
					font-weight: 700;

					svg {
						transform: rotateZ(180deg);
					}
				}

				ul {
					display: block;
				}
			}
		}
	}

    @include media-breakpoint-up(lg) {
        transform: translateX(0%);
        width: $sidebar-width;
    }
}

.sidebar-offset {
	min-height: 100vh;

	@include media-breakpoint-up(lg) {
		padding-left: $sidebar-width;
	}
}

.docs-content {
	color: $secondary;

	h1, h2, h3, h4, h5, h6 {
		color: $dark;
		font-weight: 700;
		margin-bottom: 1.5rem;
	}

	img {
		@extend .img-fluid;
	}

	p {
		&:last-child(){
			margin-bottom: 0;
		}
	}
}