.sidebar-offset {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media (min-width: $screen-sm) {
		margin-left: $sidebar-width;
	}

	.clay-site-container {
		flex: 1;
		max-width: $content-max-width;

		@media (min-width: $screen-xs) {
			padding-left: $base-size;
			padding-right: $base-size * 2;
		}

		@media (min-width: $screen-md) {
			padding-left: $base-size * 2;
			padding-right: $base-size * 4;
		}
	}
}

.sidenav-menu-slider .sidenav-menu {
	width: 100%;

	@media (min-width: $grid-float-breakpoint) {
		width: $sidebar-width - 100px;
	}

	@media (min-width: $screen-sm) {
		width: $sidebar-width;
	}
}

.sidenav-fixed.sidenav-menu-slider {
	visibility: visible;

	&.toggler-expanded {
		width: 100%;
	}

	&, &.toggler-expanded {
		@media (max-width: $grid-float-breakpoint - 1) {
			transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
		}

		@media (min-width: $grid-float-breakpoint) {
			width: $sidebar-width - 100px;
		}

		@media (min-width: $screen-sm) {
			width: $sidebar-width;
		}
	}
}

.sidenav-fixed.sidenav-menu-slider .sidenav-menu {
	bottom: 0;
	height: initial;
	top: $base-size * 2.9;

	@media (min-width: $grid-float-breakpoint) {
		top: 0;
	}
}

.sidebar-search {
	margin-bottom: $base-size * 1.8;
}