.update-container {
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 100px;
        height: 100%;
        border-left: 1px solid $primary;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-top: 1px solid $primary;
    }

    .update-version {
        @extend .h3;
        width: 100px;
        height: 100px;
        z-index: 10;
    }

    .update-item {
        @extend .justify-content-end;
        @extend .bg-white;
        @extend .border;
        @extend .border-primary;
        @extend .rounded;
        margin-top: 50px;
        margin-bottom: 50px;

        .update-icon {
            width: 60px;
            height: 60px;
            @extend .bg-white;
            @extend .border;
            @extend .border-primary;
            transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
            -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
            will-change: color, background-color;

            @include media-breakpoint-up(md) {
                transform: translateX(50%);
            }
        }

        .update-content {
            right: 100px;
            @extend .w-100;
            @extend .text-center;
            max-height: 300px;
            overflow: auto;
            transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
            -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
            will-change: color, background-color;

            p {
                transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
                -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
                will-change: color, background-color;
            }

            @include media-breakpoint-up(md) {
                border: 1px solid $primary;
                text-align: left !important;
                position: absolute;
                width: auto !important;
            }
        }

        &:nth-child(odd) {
            @extend .ml-auto;
            @extend .justify-content-start;

            &:before {
                left: 0;
            }

            .update-icon {
                @include media-breakpoint-up(md) {
                    transform: translateX(-50%);
                }
            }

            .update-content {
                right: auto;
                left: 100px;
            }
        }

        &:hover {
            .update-icon {
                color: white;
                background-color: $primary !important;
            }

            .update-content {
                color: white;
                background-color: $primary !important;

                p {
                    color: white !important;
                }
            }
        }

        @include media-breakpoint-up(md) {
            background-color: transparent !important;
            border: none !important;
            margin-top: 100px;
            margin-bottom: 100px;
            width: 50%;

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 150px;
                border-top: 1px solid $primary;
            }
        }
    }

    &.update-minor {
        &:before {
            top: 80px;
        }

        &:after {
            top: 40px;
        }

        .update-version {
            @extend .h4;
            width: 80px;
            height: 80px;
        }
    }
}