// We use this file to overwrite the clay and bootstrap variables

// font
$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// border-radius
$enable-rounded: false;

// titles
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;

// new button?
$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 32px;
$btn-line-height-lg: 32px;
$theme-colors: (
  "white": white
);

// cards
$card-margin-bottom: 0;
$card-box-shadow: none;
$card-title: (
	font-size: 20px
);

// sticker in cards?
$sticker-font-size: 16px;
$sticker-size: auto;
$sticker-light-color: #6B6C7E;
// $sticker-inside-offset: 3rem; // i wanted to use this for the margin top but i can't because it's use for the margin right as well

// colors
$dark: #272833;
$body-bg: white;

// link nav
$nav-font-size: 16px;
$navbar-font-size: 1rem; // bug if change to px
$navigation-bar-light: (
	link-font-weight: 700
);

// timeline
$timeline-increment-bg: #F1F2F5;