.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbaraddtrigger-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
  display: none;
}

.alloy-editor-toolbar, .alloy-editor-tooltip-link {
  position: absolute;
  z-index: 1;
}

.alloy-editor-toolbar {
  padding: 10px;
}
.alloy-editor-toolbar .alloy-editor-button {
  height: 24px;
  margin: 0 10px;
  outline: none;
  padding: 0;
  width: 24px;
  filter: none;
}
.alloy-editor-toolbar .alloy-editor-button:last-child {
  margin-right: 0;
}
.alloy-editor-toolbar .alloy-editor-button:focus {
  outline: 2px solid #44b6e0 !important;
}

.alloy-editor-toolbar-styles .link-wrapper .alloy-editor-button {
  margin-left: 10px;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container {
  display: inline-block;
  padding: 2px;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container input {
  outline: none;
  width: 162px;
  padding-right: 10px;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container input::-ms-clear {
  display: none;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container .input-clear {
  display: inline-block;
  height: 14px;
  vertical-align: text-top;
  width: 14px;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container .input-clear i {
  cursor: pointer;
  font-size: 25px;
  line-height: 0.7;
  right: 10px;
  position: relative;
}

.alloy-editor-toolbar-add-trigger {
  padding: 0;
}
.alloy-editor-toolbar-add-trigger .alloy-editor-button {
  height: 24px;
  padding: 5px;
  width: 24px;
}

.alloy-editor-toolbar-add .alloy-editor-button {
  font-size: 20px;
}

.alloy-editor-tooltip-link .link-container .icon-link-container {
  margin: 0 5px;
  position: relative;
  top: -2px;
}
.alloy-editor-tooltip-link .link-container .link-preview {
  display: inline-block;
  padding: 4px;
  outline: none;
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alloy-editor-placeholder:empty:not(:focus):before {
  content: attr(data-placeholder);
}

.alloy-editor-twitter-link {
  padding: 0 5px;
}
.alloy-editor-twitter-link:after {
  content: '\E013';
  font-family: alloyeditor;
  font-size: 12px;
  margin-left: 5px;
}

.cke_editable {
  outline: none;
}
