/* line 2, ../sass/arrow-box.scss */
.alloy-editor-arrow-box:after, .alloy-editor-arrow-box:before {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 11, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:after, .alloy-editor-arrow-box.alloy-editor-arrow-box-top:before {
  bottom: 100%;
  left: 50%;
}
/* line 16, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:after {
  border-width: 7px;
  margin-left: -7px;
}
/* line 21, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:before {
  border-width: 9px;
  margin-left: -9px;
}
/* line 28, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:after, .alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:before {
  top: 100%;
  left: 50%;
}
/* line 33, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:after {
  border-width: 7px;
  margin-left: -7px;
}
/* line 38, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:before {
  border-width: 9px;
  margin-left: -9px;
}
/* line 45, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:after, .alloy-editor-arrow-box.alloy-editor-arrow-box-left:before {
  right: 100%;
  top: 50%;
}
/* line 50, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:after {
  border-width: 7px;
  margin-top: -7px;
}
/* line 55, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:before {
  border-width: 9px;
  margin-top: -9px;
}
/* line 62, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:after, .alloy-editor-arrow-box.alloy-editor-arrow-box-right:before {
  left: 100%;
  top: 50%;
}
/* line 67, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:after {
  border-width: 7px;
  margin-top: -7px;
}
/* line 72, ../sass/arrow-box.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:before {
  border-width: 9px;
  margin-top: -9px;
}
