.alloy-editor-ui .container, .alloy-editor-ui [class^=container-] {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box; }
  .alloy-editor-ui .container *, .alloy-editor-ui .container *:after, .alloy-editor-ui .container *:before, .alloy-editor-ui [class^=container-] *, .alloy-editor-ui [class^=container-] *:after, .alloy-editor-ui [class^=container-] *:before {
    box-sizing: inherit;
    color: inherit; }
  .alloy-editor-ui .container input, .alloy-editor-ui .container textarea, .alloy-editor-ui .container keygen, .alloy-editor-ui .container select, .alloy-editor-ui .container button, .alloy-editor-ui [class^=container-] input, .alloy-editor-ui [class^=container-] textarea, .alloy-editor-ui [class^=container-] keygen, .alloy-editor-ui [class^=container-] select, .alloy-editor-ui [class^=container-] button {
    color: initial; }
  .alloy-editor-ui .container .container, .alloy-editor-ui .container [class^=container-], .alloy-editor-ui .container .button, .alloy-editor-ui .container .toolbar-element, .alloy-editor-ui .container label, .alloy-editor-ui [class^=container-] .container, .alloy-editor-ui [class^=container-] [class^=container-], .alloy-editor-ui [class^=container-] .button, .alloy-editor-ui [class^=container-] .toolbar-element, .alloy-editor-ui [class^=container-] label {
    font-size: 14px;
    margin: 0;
    position: relative; }
    .alloy-editor-ui .container .container:not(:last-child), .alloy-editor-ui .container [class^=container-]:not(:last-child), .alloy-editor-ui .container .button:not(:last-child), .alloy-editor-ui .container .toolbar-element:not(:last-child), .alloy-editor-ui .container label:not(:last-child), .alloy-editor-ui [class^=container-] .container:not(:last-child), .alloy-editor-ui [class^=container-] [class^=container-]:not(:last-child), .alloy-editor-ui [class^=container-] .button:not(:last-child), .alloy-editor-ui [class^=container-] .toolbar-element:not(:last-child), .alloy-editor-ui [class^=container-] label:not(:last-child) {
      margin-right: 10px; }

.alloy-editor-ui .has-dropdown {
  display: block;
  float: left \9;
  width: 24px; }

.alloy-editor-ui IE10-PLUS::-ms-reveal, .alloy-editor-ui [class^=toolbar] {
  height: 24px;
  box-sizing: content-box; }

.alloy-editor-ui .toolbar, .alloy-editor-ui [class^=toolbar-] {
  line-height: 1;
  padding: 10px;
  position: absolute; }
  .alloy-editor-ui .toolbar input, .alloy-editor-ui .toolbar textarea, .alloy-editor-ui .toolbar keygen, .alloy-editor-ui .toolbar select, .alloy-editor-ui .toolbar button, .alloy-editor-ui [class^=toolbar-] input, .alloy-editor-ui [class^=toolbar-] textarea, .alloy-editor-ui [class^=toolbar-] keygen, .alloy-editor-ui [class^=toolbar-] select, .alloy-editor-ui [class^=toolbar-] button {
    font-size: 14px; }
  .alloy-editor-ui .toolbar.toolbar-transition, .alloy-editor-ui [class^=toolbar-].toolbar-transition {
    -webkit-transition-property: height, left, opacity, top;
    -moz-transition-property: height, left, opacity, top;
    transition-property: height, left, opacity, top;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .alloy-editor-ui .toolbar .button, .alloy-editor-ui .toolbar .toolbar-element, .alloy-editor-ui [class^=toolbar-] .button, .alloy-editor-ui [class^=toolbar-] .toolbar-element {
    border-width: 0;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0; }
    .alloy-editor-ui .toolbar .button:hover:disabled, .alloy-editor-ui .toolbar .button:hover.button-disabled, .alloy-editor-ui .toolbar .button:focus:disabled, .alloy-editor-ui .toolbar .button:focus.button-disabled, .alloy-editor-ui .toolbar .toolbar-element:hover:disabled, .alloy-editor-ui .toolbar .toolbar-element:hover.button-disabled, .alloy-editor-ui .toolbar .toolbar-element:focus:disabled, .alloy-editor-ui .toolbar .toolbar-element:focus.button-disabled, .alloy-editor-ui [class^=toolbar-] .button:hover:disabled, .alloy-editor-ui [class^=toolbar-] .button:hover.button-disabled, .alloy-editor-ui [class^=toolbar-] .button:focus:disabled, .alloy-editor-ui [class^=toolbar-] .button:focus.button-disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element:hover:disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element:hover.button-disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element:focus:disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element:focus.button-disabled {
      color: inherit; }
    .alloy-editor-ui .toolbar .button:disabled, .alloy-editor-ui .toolbar .button.button-disabled, .alloy-editor-ui .toolbar .toolbar-element:disabled, .alloy-editor-ui .toolbar .toolbar-element.button-disabled, .alloy-editor-ui [class^=toolbar-] .button:disabled, .alloy-editor-ui [class^=toolbar-] .button.button-disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element:disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element.button-disabled {
      cursor: auto;
      opacity: 0.3; }
  .alloy-editor-ui .toolbar .button, .alloy-editor-ui [class^=toolbar-] .button {
    height: 24px;
    width: 24px; }

.alloy-editor-ui .dropdown, .alloy-editor-ui [class^=dropdown-] {
  left: 0;
  padding: 4px;
  position: absolute;
  top: 34px; }
  .alloy-editor-ui .dropdown .list-header, .alloy-editor-ui [class^=dropdown-] .list-header {
    display: inline-block;
    margin: 12px 0 0 0; }
    .alloy-editor-ui .dropdown .list-header:first-child, .alloy-editor-ui [class^=dropdown-] .list-header:first-child {
      margin-top: 4px; }
  .alloy-editor-ui .dropdown .toolbar-element, .alloy-editor-ui [class^=dropdown-] .toolbar-element {
    height: 3em;
    margin-right: 0;
    min-width: 100%;
    overflow: hidden;
    padding-left: 8px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto; }
    .alloy-editor-ui .dropdown .toolbar-element *, .alloy-editor-ui [class^=dropdown-] .toolbar-element * {
      display: inline; }
    .alloy-editor-ui .dropdown .toolbar-element[class^=icon-]:before, .alloy-editor-ui [class^=dropdown-] .toolbar-element[class^=icon-]:before {
      padding-right: 4px;
      vertical-align: middle; }
  .alloy-editor-ui .dropdown .listbox, .alloy-editor-ui [class^=dropdown-] .listbox {
    list-style: none;
    margin: 0;
    padding: 0; }
  .alloy-editor-ui .dropdown *, .alloy-editor-ui [class^=dropdown-] * {
    display: block \9; }

.alloy-editor-ui .container-edit-link, .alloy-editor-ui .container-edit-table {
  height: 24px \9; }
  .alloy-editor-ui .container-edit-link *, .alloy-editor-ui .container-edit-table * {
    float: left \9; }
  .alloy-editor-ui .container-edit-link label, .alloy-editor-ui .container-edit-table label {
    position: relative \9;
    top: 50% \9;
    transform: translateY(-50%) \9; }
  .alloy-editor-ui .container-edit-link IE10-PLUS::-ms-reveal, .alloy-editor-ui .container-edit-link label, .alloy-editor-ui .container-edit-table IE10-PLUS::-ms-reveal, .alloy-editor-ui .container-edit-table label {
    top: 0;
    transform: translateY(0); }

.alloy-editor-ui .container-input {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 4px;
  width: 182px; }
  .alloy-editor-ui .container-input.medium {
    width: 98px; }
  .alloy-editor-ui .container-input.small {
    width: 42px; }
  .alloy-editor-ui .container-input [class^=icon-] {
    font-size: 24px;
    line-height: 24px; }
  .alloy-editor-ui .container-input input, .alloy-editor-ui .container-input .input {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-width: 0;
    font-family: inherit;
    height: auto;
    line-height: normal;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 0;
    display: inline-block \9;
    margin-left: -4px \9;
    margin-top: 4px \9;
    padding-left: 4px \9;
    width: 158px \9; }
    .alloy-editor-ui .container-input input::-ms-clear, .alloy-editor-ui .container-input .input::-ms-clear {
      display: none; }
    .alloy-editor-ui .container-input input:focus, .alloy-editor-ui .container-input .input:focus {
      box-shadow: none; }
  .alloy-editor-ui .container-input .icon-remove {
    float: right \9; }

.alloy-editor-ui .container-link {
  padding: 2px 4px; }
  .alloy-editor-ui .container-link a, .alloy-editor-ui .container-link .link {
    color: inherit;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    max-width: 500px;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap; }
    .alloy-editor-ui .container-link a:hover, .alloy-editor-ui .container-link a:focus, .alloy-editor-ui .container-link .link:hover, .alloy-editor-ui .container-link .link:focus {
      text-decoration: underline; }
    .alloy-editor-ui .container-link a:before, .alloy-editor-ui .container-link .link:before {
      content: '\E020';
      display: inline-block;
      font-family: 'alloyeditor';
      margin-right: 4px;
      vertical-align: middle; }

.alloy-editor-ui .container-dropdown, .alloy-editor-ui [class^=container-dropdown-] {
  float: left \9;
  width: 120px; }
  .alloy-editor-ui .container-dropdown > .toolbar-element, .alloy-editor-ui [class^=container-dropdown-] > .toolbar-element {
    float: left \9;
    height: 24px;
    text-align: left;
    width: 100%; }
    .alloy-editor-ui .container-dropdown > .toolbar-element .container, .alloy-editor-ui [class^=container-dropdown-] > .toolbar-element .container {
      height: 100% \9;
      width: 100%; }
      .alloy-editor-ui .container-dropdown > .toolbar-element .container .icon-arrow, .alloy-editor-ui [class^=container-dropdown-] > .toolbar-element .container .icon-arrow {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        float: right \9; }
      .alloy-editor-ui .container-dropdown > .toolbar-element .container .container-dropdown-selected-item, .alloy-editor-ui [class^=container-dropdown-] > .toolbar-element .container .container-dropdown-selected-item {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative \9;
        top: 50% \9;
        transform: translateY(-50%) \9; }
      .alloy-editor-ui .container-dropdown > .toolbar-element .container IE10-PLUS::-ms-reveal, .alloy-editor-ui .container-dropdown > .toolbar-element .container .container-dropdown-selected-item, .alloy-editor-ui [class^=container-dropdown-] > .toolbar-element .container IE10-PLUS::-ms-reveal, .alloy-editor-ui [class^=container-dropdown-] > .toolbar-element .container .container-dropdown-selected-item {
        top: 0;
        transform: translateY(0); }

.alloy-editor-ui .container-dropdown-xl {
  width: 192px; }

.alloy-editor-ui .twitter-link {
  padding: 0 5px; }
  .alloy-editor-ui .twitter-link:after {
    content: '\E01E';
    display: inline-block;
    font-family: alloyeditor;
    margin-left: 4px;
    vertical-align: middle; }

.alloy-editor-ui .camera {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .alloy-editor-ui .camera .camera-canvas {
    left: -10000px;
    position: absolute;
    top: -10000px; }
  .alloy-editor-ui .camera .camera-shoot {
    margin-top: 10px; }

.alloy-editor-placeholder:empty:not(:focus):before {
  content: attr(data-placeholder); }

.alloy-editor-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.alloy-editor-ui .alloy-editor-arrow-box:after {
  content: '';
  margin: auto;
  position: absolute; }

.alloy-editor-ui .alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:after {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid currentColor;
  left: 0;
  right: 0;
  top: 100%; }

.alloy-editor-ui .alloy-editor-arrow-box.alloy-editor-arrow-box-top:after {
  height: 0;
  width: 0;
  border-bottom: 4px solid currentColor;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  left: 0;
  right: 0;
  top: -4px; }

.alloy-editor-ui .alloy-editor-arrow-box.alloy-editor-arrow-box-left:after {
  height: 0;
  width: 0;
  border-bottom: 5px solid transparent;
  border-right: 4px solid currentColor;
  border-top: 5px solid transparent;
  left: -4px;
  top: 0;
  bottom: 0; }

.alloy-editor-ui .alloy-editor-arrow-box.alloy-editor-arrow-box-right:after {
  height: 0;
  width: 0;
  border-bottom: 5px solid transparent;
  border-left: 4px solid currentColor;
  border-top: 5px solid transparent;
  right: -4px;
  top: 0;
  bottom: 0; }

.alloy-editor-editable ::-moz-selection {
  background: #e6f1fa !important;
  text-shadow: none; }

.alloy-editor-editable ::selection {
  background: #e6f1fa !important;
  text-shadow: none; }

.alloy-editor-ui .toolbar, .alloy-editor-ui [class^=toolbar-] {
  background-color: #32a8e6;
  border-radius: 4px;
  color: #fff;
  font-family: "Helvetica Neue"; }
  .alloy-editor-ui .toolbar.alloy-editor-arrow-box:after, .alloy-editor-ui [class^=toolbar-].alloy-editor-arrow-box:after {
    color: #32a8e6; }
  .alloy-editor-ui .toolbar .button, .alloy-editor-ui .toolbar .toolbar-element, .alloy-editor-ui [class^=toolbar-] .button, .alloy-editor-ui [class^=toolbar-] .toolbar-element {
    background-color: transparent; }
    .alloy-editor-ui .toolbar .button:hover, .alloy-editor-ui .toolbar .toolbar-element:hover, .alloy-editor-ui [class^=toolbar-] .button:hover, .alloy-editor-ui [class^=toolbar-] .toolbar-element:hover {
      color: #1888c3; }
    .alloy-editor-ui .toolbar .button.button-pressed, .alloy-editor-ui .toolbar .toolbar-element.button-pressed, .alloy-editor-ui [class^=toolbar-] .button.button-pressed, .alloy-editor-ui [class^=toolbar-] .toolbar-element.button-pressed {
      background-color: #1888c3; }
      .alloy-editor-ui .toolbar .button.button-pressed:hover, .alloy-editor-ui .toolbar .toolbar-element.button-pressed:hover, .alloy-editor-ui [class^=toolbar-] .button.button-pressed:hover, .alloy-editor-ui [class^=toolbar-] .toolbar-element.button-pressed:hover {
        background-color: #1a95d5;
        color: inherit; }
    .alloy-editor-ui .toolbar .button.button-disabled, .alloy-editor-ui .toolbar .toolbar-element.button-disabled, .alloy-editor-ui [class^=toolbar-] .button.button-disabled, .alloy-editor-ui [class^=toolbar-] .toolbar-element.button-disabled {
      opacity: 0.3; }
  .alloy-editor-ui .toolbar .container-input, .alloy-editor-ui [class^=toolbar-] .container-input {
    background-color: #fff; }
    .alloy-editor-ui .toolbar .container-input [class^=icon-], .alloy-editor-ui [class^=toolbar-] .container-input [class^=icon-] {
      color: #2b4259;
      opacity: 0.4; }

.alloy-editor-ui .dropdown, .alloy-editor-ui [class^=dropdown-] {
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000; }
  .alloy-editor-ui .dropdown .list-header, .alloy-editor-ui [class^=dropdown-] .list-header {
    color: #999;
    font-size: small;
    font-style: italic; }

.alloy-editor-ui .toolbar-add {
  border-radius: 24px;
  padding: 0; }
  .alloy-editor-ui .toolbar-add:hover, .alloy-editor-ui .toolbar-add:focus {
    opacity: 0.7; }
  .alloy-editor-ui .toolbar-add .button-add:hover, .alloy-editor-ui .toolbar-add .button-add:focus {
    color: #fff; }
  .alloy-editor-ui .toolbar-add .button-add .icon-add {
    font-size: 12px;
    line-height: 24px; }

.alloy-editor-ui .twitter-link {
  background-color: #f8f8f8; }

@font-face {
	font-family: 'alloyeditor';
	src:url('fonts/alloyeditor.eot');
	src:url('fonts/alloyeditor.eot?#iefix') format('embedded-opentype'),
		url('fonts/alloyeditor.woff') format('woff'),
		url('fonts/alloyeditor.ttf') format('truetype'),
		url('fonts/alloyeditor.svg#alloyeditor') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'alloyeditor';
	speak: none;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-add:before {
	content: "\";
}

.icon-align-center:before {
	content: "\";
}

.icon-align-justified:before {
	content: "\";
}

.icon-align-left:before {
	content: "\";
}

.icon-align-right:before {
	content: "\";
}

.icon-arrow:before {
	content: "\";
}

.icon-bold:before {
	content: "\";
}

.icon-bulleted-list:before {
	content: "\";
}

.icon-camera:before {
	content: "\";
}

.icon-cell:before {
	content: "\";
}

.icon-close:before {
	content: "\";
}

.icon-code:before {
	content: "\";
}

.icon-column:before {
	content: "\";
}

.icon-h1:before {
	content: "\";
}

.icon-h2:before {
	content: "\";
}

.icon-image:before {
	content: "\";
}

.icon-italic:before {
	content: "\";
}

.icon-link:before {
	content: "\";
}

.icon-numbered-list:before {
	content: "\";
}

.icon-ok:before {
	content: "\";
}

.icon-quote:before {
	content: "\";
}

.icon-remove:before {
	content: "\";
}

.icon-removeformat:before {
	content: "\";
}

.icon-row:before {
	content: "\";
}

.icon-separator:before {
	content: "\";
}

.icon-strike:before {
	content: "\";
}

.icon-subscript:before {
	content: "\";
}

.icon-superscript:before {
	content: "\";
}

.icon-table:before {
	content: "\";
}

.icon-twitter:before {
	content: "\";
}

.icon-underline:before {
	content: "\";
}

.icon-unlink:before {
	content: "\";
}