/* line 1, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbarimage, .yui3-linktooltip {
  position: absolute;
}

/* line 5, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
  display: none;
}

/* line 10, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper {
  margin-left: 0;
}

/* line 15, ../sass/lao-editor-core.scss */
.link-wrapper {
  padding-left: 2px;
  width: 280px;
}

/* line 20, ../sass/lao-editor-core.scss */
.link-wrapper input {
  margin: 5px 0 5px 0;
  width: 165px;
}

/* line 25, ../sass/lao-editor-core.scss */
.link-wrapper input::-ms-clear {
  display: none;
}

/* line 29, ../sass/lao-editor-core.scss */
.input-container {
  padding: 5px 5px 8px 0;
}

/* line 33, ../sass/lao-editor-core.scss */
.input-container .input-clear {
  display: inline-block;
  height: 11px;
  width: 12px;
}

/* line 39, ../sass/lao-editor-core.scss */
.input-container .input-clear i {
  cursor: pointer;
}

/* line 43, ../sass/lao-editor-core.scss */
.input-close-container {
  margin-left: -10px;
  margin-top: 5px;
  margin-right: 2px;
  width: 40px;
}

/* line 50, ../sass/lao-editor-core.scss */
.show-text-container {
  margin-top: 5px;
}

/* line 54, ../sass/lao-editor-core.scss */
.yui3-overlay, .yui3-toolbaradd, .yui3-toolbarstyles, .yui3-toolbarimage {
  z-index: 1;
}

/* line 58, ../sass/lao-editor-core.scss */
.yui3-linktooltip {
  min-height: 16px;
  padding: 2px 5px 2px 5px;
}

/* line 63, ../sass/lao-editor-core.scss */
.yui3-linktooltip .link-container {
  margin-right: 10px;
  margin-top: 3px;
}

/* line 70, ../sass/lao-editor-core.scss */
.yui3-linktooltip .link-container .link-preview,
.yui3-linktooltip .link-container .link-preview:focus,
.yui3-linktooltip .link-container .link-preview:hover {
  padding: 4px;
}
