/* line 1, ../sass/lao-editor-core.scss */
.hide {
  display: none !important;
}

/* line 5, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbaradd-buttons, .yui3-toolbarimage, .yui3-linktooltip {
  position: absolute;
}
/* line 8, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .yui3-button, .yui3-toolbaradd .yui3-button, .yui3-toolbaradd-buttons .yui3-button, .yui3-toolbarimage .yui3-button, .yui3-linktooltip .yui3-button {
  padding: .2em .5em .22em;
}

/* line 13, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
  display: none;
}

/* line 18, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper {
  margin-left: 0;
  padding-left: 2px;
  width: 290px;
}
/* line 23, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container {
  padding: 3px 5px 4px 0;
}
/* line 26, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container input {
  margin: 5px 0 5px 0;
  outline: none;
  width: 165px;
}
/* line 32, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container input::-ms-clear {
  display: none;
}
/* line 37, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .show-buttons-container {
  float: left;
  margin-top: 5px;
}
/* line 42, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-wrapper {
  float: left;
  margin: 2px 0 0 5px;
}
/* line 47, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-close-container {
  float: left;
  margin: 5px 2px 0 -10px;
  width: 40px;
}

/* line 55, ../sass/lao-editor-core.scss */
.input-container .input-clear {
  display: inline-block;
  height: 11px;
  width: 12px;
}

/* line 61, ../sass/lao-editor-core.scss */
.input-container .input-clear i {
  cursor: pointer;
}

/* line 65, ../sass/lao-editor-core.scss */
.yui3-overlay, .yui3-toolbaradd, .yui3-toolbarstyles, .yui3-toolbarimage {
  z-index: 1;
}

/* line 69, ../sass/lao-editor-core.scss */
.yui3-linktooltip {
  min-height: 16px;
  padding: 2px 5px 2px 5px;
}

/* line 74, ../sass/lao-editor-core.scss */
.yui3-linktooltip .link-container {
  margin-right: 10px;
  margin-top: 3px;
}

/* line 81, ../sass/lao-editor-core.scss */
.yui3-linktooltip .link-container .link-preview,
.yui3-linktooltip .link-container .link-preview:focus,
.yui3-linktooltip .link-container .link-preview:hover {
  padding: 4px;
}
