/* line 1, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbaradd-buttons, .yui3-toolbarimage, .yui3-linktooltip {
  position: absolute;
  z-index: 1;
}

/* line 6, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
  display: none;
}

/* line 11, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper {
  width: 275px;
}
/* line 14, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container {
  padding: 5px;
}
/* line 18, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container input {
  outline: none;
  width: 165px;
}
/* line 23, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container input::-ms-clear {
  display: none;
}
/* line 27, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container .input-clear {
  display: inline-block;
  height: 11px;
  width: 12px;
}
/* line 32, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-container .input-clear i {
  cursor: pointer;
}
/* line 38, ../sass/lao-editor-core.scss */
.yui3-toolbarstyles .link-wrapper .input-wrapper {
  margin: 3px 0 0 3px;
}

/* line 44, ../sass/lao-editor-core.scss */
.yui3-linktooltip {
  padding: 2px;
}
/* line 50, ../sass/lao-editor-core.scss */
.yui3-linktooltip .link-container .link-preview,
.yui3-linktooltip .link-container .link-preview:focus,
.yui3-linktooltip .link-container .link-preview:hover {
  padding: 4px;
}
