@import "compass/css3";


.alloy-editor-toolbar {
    @include border-radius(3px);
    @include box-shadow(0px 0px 20px 0px rgba(188, 188, 188, 0.8));
    background-color: #fff;
    border: 1px solid #e1e1e1;
}

.alloy-editor-toolbar {
    .alloy-editor-button {
        @include box-shadow(none);
        background-color: transparent;
        color: #999da0;

        &:hover, &:focus {
            background-color: #f7f7f7;
            background-image: none;
        }

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        &.yui3-button-selected, &.yui3-button-active, &.yui3-button:active {
            @include box-shadow(none);
            background-color: #fff;
            color: #1a1b1c;
        }

        &.yui3-button-active, &.yui3-button:active {
            border-left: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        &.yui3-button-selected, &.yui3-button-active, &.yui3-button:active {
            &:hover {
                background-color: #f7f7f7;
            }
        }

        &.yui3-button[disabled], &.yui3-button-disabled {
            @include box-shadow(none);
            @include opacity(0.3);
            color: #fff;
        }
    }
}

.alloy-editor-toolbar-styles {
    .link-wrapper {
        margin-left: 5px;

        input {
            border: none;
        }

        input[type="text"]:focus {
            @include box-shadow(none);
            border-color: white;
        }

        .input-container {
            background-color: white;
        }
    }
}

.alloy-editor-toolbar-add-trigger {
    @include box-shadow(none);
    background-color: transparent;
    border: 0;

    .alloy-editor-button {
        @include border-radius(13px);
        background-color: #fff;
        border: 1px solid #e1e1e1;
    }

    .btn-group-vertical {
        .alloy-editor-button {
            border-bottom: 1px solid #e1e1e1;
            border-top: 1px solid #e1e1e1;

            &:first-child {
                border-top: 0;
            }

            &:last-child:not(:first-child) {
                @include border-bottom-left-radius(0);
                border-bottom: 0;
                border-left: none;
            }
        }
    }
}

.alloy-editor-tooltip-link {
    @include border-radius(5px);
    background-color: #fff;
    border: 1px solid #999;

    .link-container {
        .link-preview {
            color: #1a1b1c;
        }
    }
}

.alloy-editor-placeholder:empty:not(:focus) {
    background-color: #ffffe0;
}

.alloy-editor-toolbar .alloy-editor-button.focus {
    color: #44b6e0;
}

.alloy-editor-twitter-link {
    background-color: #f8f8f8;
}