.alloy-editor-arrow-box {
	&:after, &:before {
        border: solid transparent;
    }

    &.alloy-editor-arrow-box-top {
        &:after {
            border-bottom-color: #fff;
        }

        &:before {
            border-bottom-color: #e1e1e1;
        }
    }

    &.alloy-editor-arrow-box-bottom {
        &:after {
            border-top-color: #fff;
        }

        &:before {
            border-top-color: #e1e1e1;
        }
    }

    &.alloy-editor-arrow-box-left {
        &:after {
            border-right-color: #fff;
        }

        &:before {
            border-right-color: #e1e1e1;
        }
    }

    &.alloy-editor-arrow-box-right {
        &:after {
            border-left-color: #fff;
        }

        &:before {
            border-left-color: #e1e1e1;
        }
    }
}