/* line 5, ../../sass/skin/alloy-editor-skin.scss */
.yui3-toolbarstyles .link-wrapper input {
  border: none;
}
/* line 9, ../../sass/skin/alloy-editor-skin.scss */
.yui3-toolbarstyles .link-wrapper input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: white;
}
/* line 14, ../../sass/skin/alloy-editor-skin.scss */
.yui3-toolbarstyles .link-wrapper .close-link {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 18, ../../sass/skin/alloy-editor-skin.scss */
.yui3-toolbarstyles .link-wrapper .input-container {
  background-color: white;
  border-right: none;
  border: 1px #cccccc solid;
}
/* line 24, ../../sass/skin/alloy-editor-skin.scss */
.yui3-toolbarstyles .link-wrapper .input-close-container {
  background-color: #d9d9d9;
}

/* line 31, ../../sass/skin/alloy-editor-skin.scss */
.yui3-toolbarstyles .yui3-button, .yui3-toolbaradd .yui3-button, .yui3-toolbaradd-buttons .yui3-button, .yui3-toolbarimage .yui3-button, .yui3-linktooltip .yui3-button {
  outline: none;
}

/* line 36, ../../sass/skin/alloy-editor-skin.scss */
.yui3-linktooltip {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #999;
}
/* line 42, ../../sass/skin/alloy-editor-skin.scss */
.yui3-linktooltip .link-container .link-preview {
  color: #0088cc;
  outline: none;
}

/* line 49, ../../sass/skin/alloy-editor-skin.scss */
.editor-placeholder {
  background-color: lightyellow;
}
