YUI.applyConfig({
    groups: {
        LREditor: {
            base: '/dist/',
            combine: false,
            comboBase: '',
            modules: <%= modules %>,
            root: '/dist/'
        }
    }
});