/** GENERAL VARIABLES */

@import "components/variables/structure";

$base-font-size: 16px;

$base-height: 40px;
$base-width: 40px;

$base-padding: 8px;

/** COMPONENT VARIABLES **/

@import "skin/default/variables/structure";

/** ARROW-BOX **/
$arrow-box-height: 8px;
$arrow-box-width: 18px;

$arrow-box-side-margin: 12px;

/** CONTAINER **/
$container-element-margin: 0;

/** CONTAINER-DROPDOWN **/
$container-dropdown-padding: 0 10px;
$container-dropdown-medium-width-multiplier: 2.5;
$container-dropdown-width-multiplier: 3;
$container-dropdown-xl-width-multiplier: 5;
$container-dropdown-arrow-top-ie9: 25%;

/** CONTAINER-EDIT **/
$container-edit-label-padding: 0 10px;

/** CONTAINER-INPUT */
$container-input-text-padding: 10px 6px 10px 12px;
$container-input-xl-width-multiplier: 6;
$container-input-xxl-width-multiplier: 10;

$container-input-dropdown-padding: 4px;

/** DROPDOWN **/
$dropdown-padding: 0;
$dropdown-zindex: 1;

/** DROPDOWN-LISTBOX HEADER **/
$dropdown-listbox-header-margin: 8px 12px;

/** DROPDOWN-LISTBOX ITEM **/
$dropdown-listbox-item-font-size: 16px;
$dropdown-listbox-item-line-height: 28px;
$dropdown-listbox-item-max-height: 44px;
$dropdown-listbox-item-padding: 8px 12px;

/** TOOLBAR **/
$toolbar-add-border-width: 2px;
$toolbar-add-height: 44px;
$toolbar-add-width: 44px;