@import "bourbon";

$base_font_size: 14px;
$base_button_height: 24px;
$base_button_width: $base_button_height;
$base_padding: 4px;
$base_spacing: 10px;

$IE9_ONLY: \9;

.alloy-editor-container, [class*=alloy-editor-container-] {
    @include align-items(center);
    @include display(inline-flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    box-sizing: border-box;

    *, *:after, *:before {
        box-sizing: inherit;
    }

    .alloy-editor-container, [class*=alloy-editor-container-], .alloy-editor-button, .alloy-editor-toolbar-element {
        font-size: $base_font_size;
        position: relative;

        &:not(:last-child) {
            margin-right: $base_spacing;
        }
    }
}

.alloy-editor-toolbar, [class*=alloy-editor-toolbar-] {
    line-height: 1;
    padding: $base_spacing;
    position: absolute;

    input, textarea, keygen, select, button {
        font-size: $base_font_size;
    }

    &.alloy-editor-toolbar-transition {
        @include transition-property (height, left, opacity, top);
        @include transition-duration (0.15s);
        @include transition-timing-function (ease-out);
    }

    .alloy-editor-button, .alloy-editor-toolbar-element {
        border-width: 0;
        color: inherit;
        cursor: pointer;
        margin: 0;
        padding: 0;

        &:hover, &:focus {
            &:disabled, &.alloy-editor-button-disabled {
                color: inherit;
            }
        }

        &:disabled, &.alloy-editor-button-disabled {
            cursor: auto;
            opacity: 0.3;
        }
    }

    .alloy-editor-button {
        height: $base_button_height;
        width: $base_button_width;
    }
}

.alloy-editor-container-edit-link {
    * {
        float: left $IE9_ONLY;
    }
}

.alloy-editor-container-input {
    @include flex-wrap(nowrap);

    padding-left: 4px;
    width: 188px;

    [class*=alloy-editor-icon-] {
        font-size: $base_button_height;
        line-height: $base_button_height;
    }

    input, .alloy-editor-input {
        @include flex-grow(1);

        border-width: 0;
        box-shadow: none;
        font-family: inherit;
        height: auto;
        line-height: normal;
        margin: 0;
        outline: none;
        padding: 0;

        &::-ms-clear {
            display: none;
        }

        display: inline-block $IE9_ONLY;
        margin-left: -$base_padding $IE9_ONLY;
        margin-top: $base_padding $IE9_ONLY;
        padding-left: $base_padding $IE9_ONLY;
        width: 164px $IE9_ONLY;
    }

    .alloy-editor-icon-remove {
        float: right $IE9_ONLY;
    }
}

.alloy-editor-container-link {
    padding: 2px 4px;

    a, .alloy-editor-link {
        color: inherit;
        display: inline-block;
        font-size: $base_font_size;
        font-weight: 300;
        overflow: hidden;
        max-width: 500px;
        text-decoration: none;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;

        &:hover, &:focus {
            text-decoration: underline;
        }

        &:before {
            content: '\E00E';
            display: inline-block;
            font-family: 'alloyeditor';
            margin-right: 4px;
            vertical-align: middle;
        }

    }
}

.alloy-editor-container-styles {
    .alloy-editor-toolbar-element {
        text-align: left;
        width: 5 * $base_button_width;

        .alloy-editor-icon-arrow {
            @include transform(rotate(90deg));
        }

        .alloy-editor-selected-style {
            @include flex-grow(1);
        }
    }

    .alloy-editor-container-styles-list {
        left: 0;
        padding: $base_padding;
        position: absolute;
        top: $base_button_height + $base_spacing;
        width: 100%;

        .alloy-editor-styles-list-header {
            margin: 5px 0;
        }

        .alloy-editor-toolbar-element {
            * {
                display: inline;
            }

            height: 3em;
            margin-right: 0;
            overflow: hidden;
            padding-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
}

.alloy-editor-twitter-link {
    padding: 0 5px;

    &:after {
        content: '\E018';
        display: inline-block;
        font-family: alloyeditor;
        margin-left: 4px;
        vertical-align: middle;
    }
}