@import "bourbon";

$arrow-height: 4px;
$arrow-width: 10px;

.alloy-editor-ui {
    .alloy-editor-arrow-box {
        &:after {
            content: '';
            margin: auto;
            position: absolute;
        }

        &.alloy-editor-arrow-box-bottom {
            &:after {
                @include triangle($arrow-width $arrow-height, currentColor, down);

                left: 0;
                right: 0;
                top: 100%;
            }
        }

        &.alloy-editor-arrow-box-top {
            &:after {
                @include triangle($arrow-width $arrow-height, currentColor, up);

                left: 0;
                right: 0;
                top: -$arrow-height;
            }
        }

        &.alloy-editor-arrow-box-left {
            &:after {
                @include triangle($arrow-width $arrow-height, currentColor, left);

                left: -$arrow-height;
                top: 0;
                bottom: 0;
            }
        }

        &.alloy-editor-arrow-box-right {
            &:after {
                @include triangle($arrow-width $arrow-height, currentColor, right);

                right: -$arrow-height;
                top: 0;
                bottom: 0;
            }
        }
    }
}