.alloy-editor-arrow-box {
    &:after, &:before {
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &.alloy-editor-arrow-box-top {
        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border-left-width: 5px;
            border-right-width: 5px;
            border-bottom-width: 4px;
            margin-left: -5px;
        }
    }

    &.alloy-editor-arrow-box-bottom {
        &:after, &:before {
            top: 100%;
            left: 50%;
            border-left-width: 5px;
            border-right-width: 5px;
            border-top-width: 4px;
            margin-left: -5px;
        }
    }

    &.alloy-editor-arrow-box-left {
        &:after, &:before {
            right: 100%;
            top: 50%;
            border-top-width: 5px;
            border-bottom-width: 5px;
            border-right-width: 4px;
            margin-top: -5px;
        }
    }

    &.alloy-editor-arrow-box-right {
        &:after, &:before {
            left: 100%;
            top: 50%;
            border-top-width: 5px;
            border-bottom-width: 5px;
            border-left-width: 4px;
            margin-top: -5px;
        }
    }
}