/* line 4, ../../sass/skin/lao-editor-skin.scss */
.yui3-toolbarstyles .link-wrapper {
  background-color: #F1F1F1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 10, ../../sass/skin/lao-editor-skin.scss */
.link-wrapper input {
  border: none;
}

/* line 14, ../../sass/skin/lao-editor-skin.scss */
.link-wrapper input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: white;
}

/* line 19, ../../sass/skin/lao-editor-skin.scss */
.input-container {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px #cccccc solid;
}

/* line 26, ../../sass/skin/lao-editor-skin.scss */
.editor-placeholder {
  background-color: lightyellow;
}

/* line 30, ../../sass/skin/lao-editor-skin.scss */
.yui3-linktooltip {
  border: 1px solid #333333;
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 36, ../../sass/skin/lao-editor-skin.scss */
.yui3-linktooltip .link-container {
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

/* line 44, ../../sass/skin/lao-editor-skin.scss */
.yui3-linktooltip .link-container .link-preview,
.yui3-linktooltip .link-container .link-preview:focus,
.yui3-linktooltip .link-container .link-preview:hover {
  color: #0088cc;
  outline: none;
  text-decoration: none;
}

/* line 50, ../../sass/skin/lao-editor-skin.scss */
.yui3-linktooltip .link-container .link-preview-focused {
  background-color: #fff;
}
