(function() {
    function deployCKEditor() {
        <%= ckeditor %>

        if (typeof CKEDITOR !== 'undefined') {
            CKEDITOR.disableAutoInline = true;
        }
    }

    <%= alloyeditorMain %>

    <%= react %>

    if (typeof React === 'undefined' && typeof AlloyEditor !== 'undefined') {
        var React = AlloyEditor.React;
    }

    if (typeof window !== 'undefined') {
       deployCKEditor();

        <%= alloyeditorUI %>
    }
}());