/**
 * AlloyEditor, Copyright 2014-2015, Liferay, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the GNU LGPL-style license found in the
 * LICENSE file in the root directory of this source tree.
 */

CKEDITOR.disableAutoInline = true;

(function() {
    if (window.AlloyEditor) {
        return;
    }

    <%= core %>
}());