(function (global, factory) {
    'use strict';

    var built = factory(global);

    /* istanbul ignore else */
    if (typeof module === 'object' && module) {
        module.exports = built;
    }

    /* istanbul ignore next */
    if (typeof define === 'function' && define.amd) {
        define(factory);
    }

    global.Base = built;
}(typeof global !== 'undefined' ? global : /* istanbul ignore next */ this, function (global) {

    <%= source %>

    return Base;
}));