.ae-button-bridge {
	[class*="ae-icon-"], [class*=" ae-icon-"] {
		background-repeat: no-repeat;
		display: block;
		height: $button-bridge-icon-height;
		width: $button-bridge-icon-width;
		margin-left: $button-bridge-icon-margin-left;
	}
}