/** GENERAL VARIABLES **/

@import "components/variables/skin";

/** COLOR PALETTE **/

$color-primary: #32a8e6;

/** COMPONENT VARIABLES **/

@import "skin/default/variables/skin";

$arrow-box-color: $color-primary;

/** DROPDOWN-LIST **/
$dropdown-active-element: $color-primary;
