::-webkit-selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::-webkit-selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

::-moz-selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::-moz-selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

::-o-selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::-o-selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

::selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::selection {
  text-shadow: none;
  /*
   * background-color: #f3205b
   * opacity: 0.2
   */
  background-color: rgba(243, 32, 91, 0.2) !important;
}

.alloy-editor-toolbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #2f323d;
}

.alloy-editor-toolbar .alloy-editor-button {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
  background-color: transparent;
  background-image: none;
  color: #fff;
}
.alloy-editor-toolbar .alloy-editor-button:hover, .alloy-editor-toolbar .alloy-editor-button:focus {
  background-image: none;
  color: #44b6e0;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2f323d;
  color: #44b6e0;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected:hover, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active:hover, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active:hover {
  background-color: #2f323d;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button[disabled], .alloy-editor-toolbar .alloy-editor-button.yui3-button-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  color: #fff;
}

/* line 54, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar-styles .link-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #2f323d;
  margin-left: 5px;
}
/* line 60, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar-styles .link-wrapper input {
  border: none;
}
/* line 64, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar-styles .link-wrapper .input-container {
  background-color: #fff;
  color: #2f232d;
}
/* line 70, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar-styles .link-wrapper .input-container .input-clear {
  color: #b1b1b1;
}
/* line 76, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar-styles .link-wrapper .input-close-container .close-link {
  color: #27be0e;
}
/* line 79, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar-styles .link-wrapper .input-close-container .close-link.yui3-button[disabled], .alloy-editor-toolbar-styles .link-wrapper .input-close-container .close-link.yui3-button-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  opacity: 1;
}

.alloy-editor-toolbar-add-trigger {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.alloy-editor-toolbar-add-trigger .alloy-editor-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background-color: #2f323d;
}

.alloy-editor-tooltip-link {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  background-color: #2f323d;
  padding: 2px 4px;
}
.alloy-editor-tooltip-link .link-container {
  color: #fff;
}
.alloy-editor-tooltip-link .link-container .link-preview {
  color: #fff;
}

.alloy-editor-placeholder:empty:not(:focus) {
  background-color: #ffffe0;
}

/* line 120, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-toolbar .alloy-editor-button.focus {
  color: #44b6e0;
}

/* line 124, ../../../sass/skin/dark/alloy-editor-skin.scss */
.alloy-editor-twitter-link {
  background-color: #f8f8f8;
}
