::-webkit-selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::-webkit-selection {
  text-shadow: none;
  background: #f3dada !important;
}

::-moz-selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::-moz-selection {
  text-shadow: none;
  background: #f3dada !important;
}

::-o-selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::-o-selection {
  text-shadow: none;
  background: #f3dada !important;
}

::selection {
  text-shadow: none;
  background: #d3effa !important;
}

.alloyeditor-add-toolbar ::selection {
  text-shadow: none;
  background: #f3dada !important;
}

.alloy-editor-toolbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  border: none;
}

.alloy-editor-toolbar .alloy-editor-button {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
  background-color: #2f323d;
  background-image: none;
  color: #fff;
  height: 40px;
  width: 40px;
}
.alloy-editor-toolbar .alloy-editor-button:hover, .alloy-editor-toolbar .alloy-editor-button:focus {
  background-image: none;
  color: #44b6e0;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2f323d;
  color: #44b6e0;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected:hover, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active:hover, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active:hover {
  background-color: #2f323d;
}

.alloy-editor-toolbar-context .link-wrapper {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #2f323d;
  height: 40px;
  margin-left: 5px;
}
.alloy-editor-toolbar-context .link-wrapper input {
  border: none;
}
.alloy-editor-toolbar-context .link-wrapper .input-container {
  background-color: #fff;
  color: #2f232d;
  margin: 4px;
  padding: 5px;
}
.alloy-editor-toolbar-context .link-wrapper .input-container .input-clear {
  color: #b1b1b1;
}
.alloy-editor-toolbar-context .link-wrapper .input-close-container .close-link {
  color: #27be0e;
}
.alloy-editor-toolbar-context .link-wrapper .input-close-container .close-link.yui3-button[disabled], .alloy-editor-toolbar-context .link-wrapper .input-close-container .close-link.yui3-button-disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  opacity: 1;
}

.alloy-editor-toolbar-add-trigger {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.alloy-editor-toolbar-add-trigger .alloy-editor-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  height: 26px;
  padding: 6px;
  width: 26px;
}

.alloy-editor-tooltip-link {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  background-color: #2f323d;
  padding: 2px 4px;
}
.alloy-editor-tooltip-link .link-container {
  color: #fff;
}
.alloy-editor-tooltip-link .link-container .link-preview {
  color: #fff;
}

.alloy-editor-placeholder:empty:not(:focus) {
  background-color: #ffffe0;
}

.alloy-editor-toolbar .alloy-editor-button.focus {
  color: #44b6e0;
}

.alloy-editor-twitter-link {
  background-color: #f8f8f8;
}
