.alloy-editor-arrow-box:after, .alloy-editor-arrow-box:before {
  border: solid transparent;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:after {
  border-bottom-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:before {
  border-bottom-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:after {
  border-top-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:before {
  border-top-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:after {
  border-right-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:before {
  border-right-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:after {
  border-left-color: #2f323d;
}
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:before {
  border-left-color: #2f323d;
}
