/* line 2, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box:after, .alloy-editor-arrow-box:before {
  border: solid transparent;
}
/* line 7, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:after {
  border-bottom-color: #2f323d;
}
/* line 11, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-top:before {
  border-bottom-color: #2f323d;
}
/* line 17, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:after {
  border-top-color: #2f323d;
}
/* line 21, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-bottom:before {
  border-top-color: #2f323d;
}
/* line 27, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:after {
  border-right-color: #2f323d;
}
/* line 31, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-left:before {
  border-right-color: #2f323d;
}
/* line 37, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:after {
  border-left-color: #2f323d;
}
/* line 41, ../../../sass/skin/dark/arrow-box-skin.scss */
.alloy-editor-arrow-box.alloy-editor-arrow-box-right:before {
  border-left-color: #2f323d;
}
