$container-dropdown-base-width: $base-width;
$container-dropdown-small-width-multiplier: 2;
$container-dropdown-medium-width-multiplier: 4;
$container-dropdown-width-multiplier: 5;
$container-dropdown-xl-width-multiplier: 8;

$container-dropdown-height: $base-height;
$container-dropdown-padding: 0;

$container-dropdown-arrow-top-ie9: 0;