$dropdown-arrow-display: none;
$dropdown-bg-color: #fcfcfc;
$dropdown-border-color: rgba(0, 0, 0, .1);
$dropdown-border-radius: 0 0 4px 4px;
$dropdown-font-color: #000;
$dropdown-hover-bg-color: $dropdown-bg-color;
$dropdown-listbox-header-color: #999;
$dropdown-listbox-header-font-size: small;
$dropdown-listbox-header-font-style: italic;
$dropdown-shadow: 0 2px 4px;
$dropdown-shadow-color: rgba(0, 0, 0, .1);