@import "compass/css3";

$prefixes: ("-webkit-", "-moz-", "-o-", "");

@each $prefix in $prefixes {
    ::#{$prefix}selection {
        @include text-shadow(none);
        background: #e6f1fa !important;
    }

    .alloyeditor-add-toolbar {
        ::#{$prefix}selection {
            @include text-shadow(none);
            /*
             * background-color: #f3205b
             * opacity: 0.2
             */
            background-color: rgba(243, 32, 91, 0.2) !important;
        }
    }
}

.alloy-editor-toolbar {
    @include opacity(0.95);
    @include border-radius(4px);
    background-color: #32a8e6;
}

.alloy-editor-toolbar {
    .alloy-editor-button {
        @include box-shadow(none);
        @include border-radius(0);
        background-color: transparent;
        background-image: none;
        color: #fff;

        &:hover {
            @include opacity(0.4);
            background-image: none;
            color: #2b4259;
        }

        &.yui3-button-selected, &.yui3-button-active, &.yui3-button:active {
            @include box-shadow(none);
            /*
             * background-color: #2b4259
             * opacity: 0.4
             *
             * Child elements inherit parent opacity attribute. We need to convert to rgba
             * because rgba affects only to the background-color.
             * In this way we avoid setting opacity on the whole button.
             */
            background-color: rgba(43, 66, 89, 0.4);
        }

        &.yui3-button[disabled], &.yui3-button-disabled {
            @include box-shadow(none);
            @include opacity(0.3);
            color: #fff;
        }
    }
}

.alloy-editor-toolbar-styles {
    .link-wrapper {
        margin-left: 5px;

        input {
            border: none;
        }

        .input-container {
            background-color: #fff;
            color: #2f232d;

            .input-clear {
                @include opacity(0.4);
                color: #2b4259;
            }
        }
    }
}

.alloy-editor-toolbar-add-trigger {
    @include box-shadow(none);
    background-color: transparent;

    .alloy-editor-button {
        @include border-radius(13px);
        background-color: #32a8e6;

        &:hover {
            /*
             * background-color: #32a8e6
             * opacity: 0.7
             */
            background-color: rgba(50, 168, 230, 0.7);
            color: #fff;
            opacity: 1;
        }
    }
}

.alloy-editor-tooltip-link {
    @include border-radius(4px);
    @include opacity(0.95);
    background-color: #32a8e6;
    padding: 2px 4px;

    .link-container {
        color: #fff;

        .link-preview {
            color: #fff;
        }
    }
}

.alloy-editor-placeholder:empty:not(:focus) {
    background-color: #ffffe0;
}

.alloy-editor-twitter-link {
    background-color: #f8f8f8;
}