.arrow-box {
	&:after, &:before {
        border: solid transparent;
    }

    &.arrow-box-top {
        &:after {
            border-bottom-color: #e6e6e6;
        }

        &:before {
            border-bottom-color: #c1c1c1;
        }
    }

    &.arrow-box-bottom {
        &:after {
            border-top-color: #e6e6e6;
        }

        &:before {
            border-top-color: #c1c1c1;
        }
    }

    &.arrow-box-left {
        &:after {
            border-right-color: #e6e6e6;
        }

        &:before {
            border-right-color: #c1c1c1;
        }
    }

    &.arrow-box-right {
        &:after {
            border-left-color: #e6e6e6;
        }

        &:before {
            border-left-color: #c1c1c1;
        }
    }
}