@import "compass/css3";

.yui3-toolbarstyles {
    .link-wrapper {
        input {
            border: none;
        }

        input[type="text"]:focus {
            @include box-shadow(none);
            border-color: white;
        }

        .close-link {
            @include border-radius(0 5px 5px 0);
        }

        .input-container {
            @include border-radius(5px 0 0 5px);
            background-color: white;
            border-right: none;
            border: 1px #cccccc solid;
        }
    }
}

.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbaradd-buttons, .yui3-toolbarimage, .yui3-linktooltip {
    .yui3-button {
        outline: none;
    }
}

.yui3-linktooltip {
    @include border-radius(5px);
    background-color: #f5f5f5;
    border: 1px solid #999;

    .link-container {
        .link-preview {
            color: #0088cc;
            outline: none;
        }
    }
}

.editor-placeholder {
    background-color: lightyellow;
}