@import "compass/css3";

.alloy-editor-toolbar-styles {
    .link-wrapper {
        input {
            border: none;
        }

        input[type="text"]:focus {
            @include box-shadow(none);
            border-color: white;
        }

        .close-link {
            @include border-radius(0 5px 5px 0);
        }

        .input-container {
            background-color: white;
            border-right: none;
            border: 1px #cccccc solid;
        }

        .input-close-container {
            background-color: #d9d9d9;
        }
    }
}

.alloy-editor-tooltip-link {
    @include border-radius(5px);
    background-color: #f5f5f5;
    border: 1px solid #999;

    .link-container {
        .link-preview {
            color: #0088cc;
        }
    }
}

.alloy-editor-placeholder:empty:not(:focus) {
    background-color: lightyellow;
}