.alloy-editor-toolbar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(188, 188, 188, 0.8);
  -moz-box-shadow: 0px 0px 20px 0px rgba(188, 188, 188, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(188, 188, 188, 0.8);
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.alloy-editor-toolbar .alloy-editor-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #999da0;
}
.alloy-editor-toolbar .alloy-editor-button:hover, .alloy-editor-toolbar .alloy-editor-button:focus {
  background-color: #f7f7f7;
  background-image: none;
}
.alloy-editor-toolbar .alloy-editor-button:first-child {
  border-left: none;
}
.alloy-editor-toolbar .alloy-editor-button:last-child {
  border-right: none;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  color: #1a1b1c;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-active, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-active:first-child, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active:first-child {
  border-left: none;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-active:last-child, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active:last-child {
  border-right: none;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button-selected:hover, .alloy-editor-toolbar .alloy-editor-button.yui3-button-active:hover, .alloy-editor-toolbar .alloy-editor-button.yui3-button:active:hover {
  background-color: #f7f7f7;
}
.alloy-editor-toolbar .alloy-editor-button.yui3-button[disabled], .alloy-editor-toolbar .alloy-editor-button.yui3-button-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  color: #fff;
}

.alloy-editor-toolbar-styles .link-wrapper {
  margin-left: 5px;
}
.alloy-editor-toolbar-styles .link-wrapper input {
  border: none;
}
.alloy-editor-toolbar-styles .link-wrapper input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: white;
}
.alloy-editor-toolbar-styles .link-wrapper .input-container {
  background-color: white;
}

.alloy-editor-toolbar-add-trigger {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}
.alloy-editor-toolbar-add-trigger .alloy-editor-button {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
.alloy-editor-toolbar-add-trigger .btn-group-vertical .alloy-editor-button {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
.alloy-editor-toolbar-add-trigger .btn-group-vertical .alloy-editor-button:first-child {
  border-top: 0;
}
.alloy-editor-toolbar-add-trigger .btn-group-vertical .alloy-editor-button:last-child:not(:first-child) {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  border-left: none;
}

.alloy-editor-tooltip-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #999;
}
.alloy-editor-tooltip-link .link-container .link-preview {
  color: #1a1b1c;
}

.alloy-editor-placeholder:empty:not(:focus) {
  background-color: #ffffe0;
}

.alloy-editor-toolbar .alloy-editor-button.focus {
  color: #44b6e0;
}

.alloy-editor-twitter-link {
  background-color: #f8f8f8;
}
