/**
 * Fix the zIndex of the toolbars for this page especially
 */
.alloy-editor-toolbar-styles {
	z-index: 500;
}

/**
 * Fix the styles for Boostrap 2.3.2
 */

 .alloy-editor-toolbar .btn {
 	height: 35px;
 }

 .alloy-editor-toolbar i {
 	font-size: 16px;
 }

 .alloy-editor-toolbar .btn-toolbar {
 	margin: 0;
 }

.alloy-editor-toolbar .btn:focus, .alloy-editor-toolbar .btn:hover {
	background-position: 0;
}

.alloy-editor-toolbar-styles .input-wrapper {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset,0 2px 0 rgba(255,255,255,0.30) inset,0 1px 2px rgba(0,0,0,0.15)
}

.alloy-editor-toolbar-styles .input-wrapper, .alloy-editor-toolbar-styles .input-close-container {
	margin-left: 0;
}

.alloy-editor-toolbar-styles .link-wrapper .input-container {
	margin: 0;
	padding: 0;
}

.alloy-editor-toolbar-styles .link-wrapper .input-container .input-clear {
	height: 16px;
	width: 18px;
	vertical-align: middle;
}

.alloy-editor-toolbar-styles .input-large {
	height: 24px;
	margin: 0;
}


.alloy-editor-toolbar-add .btn, .alloy-editor-toolbar-add .btn:focus, .alloy-editor-toolbar-add .btn:hover,
.alloy-editor-toolbar-add-items .btn, .alloy-editor-toolbar-add-items .btn:focus, .alloy-editor-toolbar-add-items .btn:hover {
	background-color: white;
	background-image: none;
	border: none;
	box-shadow: none;
	padding: 0;
}

.alloy-editor-toolbar-add .btn i, .alloy-editor-toolbar-add-items .btn i {
	font-size: 26px;
}