@import "bourbon";

.ae-editable {
    @include selection {
        background: $selection-background-color !important;
        text-shadow: none;
    }
}

.ae-ui {
    .ae-toolbar, [class^=ae-toolbar-] {
        background-color: $base-color;
        border-radius: $toolbar-border-radius;
        color: $toolbar-color;
        font-family: $font-family;

        &.ae-arrow-box:after {
            color: $base-color;
        }

        .ae-button, .ae-toolbar-element {
            background-color: transparent;

            &:hover {
                color: $button-color;
            }

            &.ae-button-pressed {
                background-color: $button-color;

                &:hover {
                    background-color: $button-pressed-hover-color;
                    color: inherit;
                }
            }

            &.ae-button-disabled {
                opacity: 0.3;
            }
        }

        .ae-container-input {
            background-color: $input-background-color;

            [class^=ae-icon-] {
                color: $input-icon-color;
                opacity: 0.4;
            }

            input, .ae-input {
                color: #000;
            }
        }
    }

    .ae-dropdown, [class^=ae-dropdown-] {
        background-color: $dropdown-background-color;
        border: 1px solid $dropdown-border-color;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 4px $dropdown-border-color;
        color: $dropdown-color;

        .ae-list-header {
            color: $dropdown-list-header-color;
            font-size: small;
            font-style: italic;
        }
    }

    .ae-toolbar-add {
        border-radius: 24px;
        padding: 0;

        &:hover, &:focus {
            opacity: 0.7;
        }

        .ae-button-add {
            &:hover, &:focus {
                color: $button-add-color;
            }

            .ae-icon-add {
                font-size: 12px;
                line-height: 24px;
            }
        }
    }

    .ae-twitter-link {
        background-color: $twitter-link-background-color;
    }
}