.hide {
    display: none !important;
}

.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbaradd-buttons, .yui3-toolbarimage, .yui3-linktooltip {
    position: absolute;

    .yui3-button {
        padding: .2em .5em .22em;
    }
}

.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
    display: none;
}

.yui3-toolbarstyles {
    height: 32px;
    padding: 1px;

    .toolbar-styles {
        margin: 3px 2px 0 2px;
    }

    .link-wrapper {
        margin-left: 0;
        padding-left: 2px;
        width: 250px;

        .input-container {
            padding: 3px 5px 4px 0;

            input {
                margin: 5px 0 5px 0;
                outline: none;
                width: 165px;
            }

            input::-ms-clear {
                display: none;
            }
        }

        .show-buttons-container {
            float: left;
            margin-top: 3px;
        }

        .input-wrapper {
            float: left;
            margin: 1px 0 0 1px;
        }

        .input-close-container {
            float: right;
            margin: 3px 0 0 0;
        }
    }
}

.input-container .input-clear {
    display: inline-block;
    height: 11px;
    width: 12px;
}

.input-container .input-clear i {
    cursor: pointer;
}

.yui3-overlay, .yui3-toolbaradd, .yui3-toolbarstyles, .yui3-toolbarimage {
    z-index: 1;
}

.yui3-linktooltip {
    min-height: 16px;
    padding: 2px 5px 2px 5px;
}

.yui3-linktooltip .link-container {
    margin-right: 10px;
    margin-top: 3px;
}

.yui3-linktooltip .link-container .link-preview,
.yui3-linktooltip .link-container .link-preview:focus,
.yui3-linktooltip .link-container .link-preview:hover {
    padding: 4px;
}