.yui3-toolbarstyles, .yui3-toolbaradd, .yui3-toolbarimage, .yui3-linktooltip {
    position: absolute;
}

.yui3-toolbarstyles-hidden, .yui3-toolbaradd-hidden, .yui3-toolbarimage-hidden, .yui3-linktooltip-hidden {
    display: none;
}

.yui3-toolbarstyles {
    .link-wrapper {
        margin-left: 0;
    }
}

.link-wrapper {
    padding-left: 2px;
    width: 280px;
}

.link-wrapper input {
    margin: 5px 0 5px 0;
    width: 165px;
}

.link-wrapper input::-ms-clear {
    display: none;
}

.input-container {
    padding: 5px 5px 8px 0;
}

.input-container .input-clear {
    display: inline-block;
    height: 11px;
    width: 12px;
}

.input-container .input-clear i {
    cursor: pointer;
}

.input-close-container {
    margin-left: -10px;
    margin-top: 5px;
    margin-right: 2px;
    width: 40px;
}

.show-text-container {
    margin-top: 5px;
}

.yui3-overlay, .yui3-toolbaradd, .yui3-toolbarstyles, .yui3-toolbarimage {
    z-index: 1;
}

.yui3-linktooltip {
    min-height: 16px;
    padding: 2px 5px 2px 5px;
}

.yui3-linktooltip .link-container {
    margin-right: 10px;
    margin-top: 3px;
}

.yui3-linktooltip .link-container .link-preview,
.yui3-linktooltip .link-container .link-preview:focus,
.yui3-linktooltip .link-container .link-preview:hover {
    padding: 4px;
}